fastapi
uvicorn[standard]
transformers>=4.55
sentence-transformers>=5.1.0
scikit-learn
einops
timm
modelscope
sqlite-vec
diskcache
Pillow
python-multipart
sqlalchemy
pydantic
pydantic-settings
jinja2
notebook
openai
python-dotenv
pyyaml
psutil
peft
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu121
# torch
# torchvision
# torchaudio
pre-commit>=3.6.2
black>=24.2.0
isort>=5.13.2
flake8>=7.0.0
flake8-docstrings>=1.7.0